@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-mono rounded transition-colors duration-300 ease-in-out focus:outline-none;
}

.btn-gray {
  @apply bg-gray-600 hover:bg-gray-800 text-white;
}
